#java specific
*.class

#ignore eclipse build directory
bin/
build/
.classpath
.project

# ignore specific files
jdbc.properties
jdbc.properties-local
harvester/run.out
localmods/*/runtime.properties

# ignore specific directories
support/
data/
harvester/logs/
harvester/data/
harvester/previous-harvest/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.save

