<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
                           default-autowire="byName">
                           
    <bean id="cauProperties"
          class="edu.cornell.mannlib.harvester.util.CauProperties">
          <property name="cauHome"><value>${cauHome}</value> </property> 
   </bean>
   
    <bean id="cauDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.app.driverClassName}"/>
        <property name="url" value="${jdbc.app.url}"/>
        <property name="username" value="${jdbc.app.username}"/>
        <property name="password" value="${jdbc.app.password}"/>
   </bean>

   <bean id="cauJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
      <description>JDBC Template class provided by Spring Framework
      </description>
      <constructor-arg ref="cauDataSource" />
   </bean>
   
   <bean id="cauPersonDao"
      class="edu.cornell.mannlib.harvester.dao.CauPersonDaoImpl">
      <property name="dataSource"><ref local="cauDataSource"/></property>
   </bean>
   
                       
</beans>
